{% extends 'base.html.twig' %}

{% block title %}Admin | Bedrinedev{% endblock %}

{% block body %}
<h1 class="text-center">Liste des mail</h1>
<table class="table-contact">
    {% for contact in contacts %}
        <tr>
            <td class="text-capitalize">{{ contact.name }}</td>
            <td class="text-capitalize">{{ contact.lastname }}</td>
            <td class="">{{ contact.email }}</td>
            <td class="text-end">
                <a class="btn-action" href="{{ path('app_admin_detail', {id: contact.id}) }}"><img src="{{ asset('build/images/show.png') }}" alt="Détail"></a>&ensp;&ensp;
                <form action="{{ path('app_admin_deleted', {id: contact.id}) }}" method="post">
                    <input type="hidden" name="token" value="{{ csrf_token('deleted') }}"/>
                    <button type="submit" class="btn-action"><img src="{{ asset('build/images/deleted.png') }}" alt="Supprimer"></button>
                </form>
            </td>
        </tr>
    {% else %}
        <tr>
            <td class="text-center">Aucun techniciens n'à été trouvée.</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
