{% extends 'base.html.twig' %}

{% block title %}Panier | Bedrinedev{% endblock %}

{% block body %}
<section class="basket" id="basket">
    <h1 class="text-center text-uppercase">Panier</h1>
    <table class="table-product">
        {% for product in products %}
            <tr>
                <td><img src="{{ asset('build/images/shop/product/' ~ product.img  ~'') }}" alt="{{ product.name }}" width="50" heigh="50"></img></td>
                <td class="text-white text-capitalize">{{ product.name }}</td>
                <td class="text-end">
                    <a class="text-white table-detail" href="{{ path('app_basket_deleted', {product: product.id}) }}">
                        <img src="{{ asset('build/images/shop/deleted.png') }}" alt="Supprimer" width="22" heigh="22"></img>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="text-center">Aucun relevé n'à été trouvée.</td>
            </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}
