{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} | Bedrinedev{% endblock %}

{% block body %}
<section class="product-info" id="category-info">
    <h1 class="text-center text-uppercase">{{ product.name }}</h1>
    <h2 class="h4 text-center text-capitalizise">{{ product.maker }}</h2>
    <div class="grid-product-info">
        <div class="img-product">
            <img src="{{ asset('build/images/shop/product/' ~ product.img  ~'') }}" alt="{{ product.name }}" width="570" heigh="570"></img>
        </div>
        <div class="add-basket-product">
            <h2 class="h1 text-center">{{ product.price|number_format(2, '.', ' ') }} €</h2>
            <a class="add-basket" href="{{ path('app_product_detail', {slug: product.slug}) }}">
                Ajouter au panier 
                <img src="{{ asset('build/images/shop/add-basket.png') }}" alt="Ajouter au Panier" width="22" heigh="22"></img>
            </a>
            <h3 class="h6 text-center">
                <img src="{{ asset('build/images/shop/check.png') }}" alt="Livraison" width="18" heigh="18"></img>
                Livraison sous 1-3 jours ouvrés
            </h3>
        </div>
    </div>
    <div class="presentation-product">
        <h2 class="text-center">Description</h2>
        <h3 class="h6 text-center">{{ product.description }}</h3>
    </div>
</section>
{% endblock %}
