<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Développeur web et Informaticien | Bedrinedev{% endblock %}</title>
    <meta name="description" content="Bedrinedev, agence web et de maintenance informatique basée à Lyon, vous propose ses services de réalisation de site vitrine, ecommerce ou de maintenance informatique.">
	<link rel="icon" href="{{ asset('build/images/favicon.png') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <div class="title-site">
            <a href="{{ path('app_home') }}">
                Bedrinedev
            </a>
        </div>
        <nav class="menu-nav" align="right" valign="middle">
            <ul>								
                <li class="btn-header">
                    <a href="{{ path('app_home') }}#service">Service</a>
                </li>	
                <li class="btn-header">
                    <a href="{{ path('app_home') }}#entreprise">À propos</a>
                </li>	
                <li class="btn-header">
                    <a href="{{ path('app_contact') }}">Contact</a>
                </li>	
            </ul>
        </nav>			
	</header>

    {% block body %}{% endblock %}

    <footer>
        <p>
            Copyright © Bedrinedev {{ "now"|date("Y") }}
        </p>
        <div>
            <a href="{{ path('app_contact') }}">Contact</a>
            <a href="{{ path('app_contact') }}">Mention légal</a>
            <a href="{{ path('app_contact') }}">Politique de confidentialité</a>
            <a href="{{ path('app_contact') }}">CGV</a>
            <a href="{{ path('app_contact') }}">CGU</a>
        </div>
	</footer>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>

</html>
