<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Développeur web et Informaticien | Bedrinedev{% endblock %}</title>
    <meta name="description" content="Bedrinedev, agence web et de maintenance informatique basée à Lyon, vous propose ses services de réalisation de site vitrine, ecommerce ou de maintenance informatique.">
	<link rel="icon" href="{{ asset('build/images/favicon.png') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <div class="title-site">
            <a href="{{ path('app_home') }}">
                Bedrinedev
            </a>
        </div>
        <nav class="menu-nav" align="right" valign="middle">
            <ul>
                <li class="btn-header">
                    <a href="{{ path('app_home') }}#">À propos</a>
                </li>									
                <li class="btn-header">
                    <a href="{{ path('app_home') }}#info">Service</a>
                </li>	
                <li class="btn-header-right">
                    <a href="{{ path('app_home') }}">Contact</a>
                </li>
            </ul>
        </nav>			
	</header>

    {% block body %}{% endblock %}

    <footer>
        <p>
            Copyright © Bedrinedev {{ "now"|date("Y") }}
        </p>
	</footer>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>

</html>
